body {
    font-family:'Courier New', Courier, monospace;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    width: auto;
    height: auto;
    align-items: center;
    background-color: gold;
    border-radius: 55px;
    box-shadow: 0px 0px 50px rgb(78, 78, 78);
    perspective: 1000px;
  }

  .profileImg {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }

  .profileImg img {
    border-radius: 50%;
    box-shadow: 0px 0px 14px black;
    height: 100%;
    width: 100%;
  }

  .nameTitle {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  
  .contact-info {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .contact-info a {
    color: black;
    font-size: 22px;
    text-decoration-line: none;
  }

  .icon {
    color: black;
    font-size: 19px;
  }